<section id="new-products">
    <div class="container">
        <div class="header-new-products">
            <h1>Novos produtos</h1>
            <a href="#">Veja todos os produtos</a>
        </div>
        <div class="general-content-card-products">
            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/available.svg" alt="Estoque disponível LP Tech" />
                    <p class="in-stock">Em estoque</p>
                </div>
                <img src="assets/imagens/new-products/produto-1.png" alt="Produto 1 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 1 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>

            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/out-stock.svg" alt="Estoque indisponível LP Tech" />
                    <p class="out-stock">Indisponível</p>
                </div>
                <img src="assets/imagens/new-products/produto-2.png" alt="Produto 2 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 2 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>

            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/available.svg" alt="Estoque disponível LP Tech" />
                    <p class="in-stock">Em estoque</p>
                </div>
                <img src="assets/imagens/new-products/produto-3.png" alt="Produto 3 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 3 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>

            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/available.svg" alt="Estoque disponível LP Tech" />
                    <p class="in-stock">Em estoque</p>
                </div>
                <img src="assets/imagens/new-products/produto-4.png" alt="Produto 4 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 4 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>

            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/available.svg" alt="Estoque disponível LP Tech" />
                    <p class="in-stock">Em estoque</p>
                </div>
                <img src="assets/imagens/new-products/produto-3.png" alt="Produto 5 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 5 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>

            <div class="card-new-products">
                <div class="stock">
                    <img src="assets/imagens/available.svg" alt="Estoque disponível LP Tech" />
                    <p class="in-stock">Em estoque</p>
                </div>
                <img src="assets/imagens/new-products/produto-3.png" alt="Produto 6 LP Tech" class="img-product" />
                <div class="product-review">
                    <div class="stars">
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/filled-star.svg" alt="Avaliação Produto LP Tech" />
                        <img src="assets/imagens/empty-star.svg" alt="Avaliação Produto LP Tech" />
                    </div>
                    <p>Comentários (4)</p>
                </div>
                <div class="content-footer-product">
                    <div class="info-product">
                        <h3>Produto 6 LP Tech com característica Y, Z e X</h3>
                        <p class="old-price">R$ 599.00</p>
                        <p class="new-price">R$ 499.00</p>
                    </div>
                    <div class="add-cart">
                        <div class="actions-cart">
                            <span class="decrease-quantity">-</span>
                            <span class="number-quantity">0</span>
                            <span class="increase-quantity">+</span>
                        </div>
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech"
                            class="confirm-add-cart" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>