   <footer>
   <div class="container">
        <div class="newsletter-footer">
            <div class="titles-newsletter">
                <h1>Assine nossa newsletter</h1>
                <h2>Fique por dentro das melhores ofertas da loja</h2>
            </div>
            <div class="input-form-newsletter">
                <input type="text" id="newsletter-email" placeholder="Seu email" class="input-newsletter" />
                <input type="submit" value="Enviar" />
            </div>
        </div>
        <div class="infos-footer">
            <div class="card-footer">
                <span>Endereço</span>
                <p>Rua da LP Tech, 123</p>
                <p>Telefone: <a href="tel:+9999999999999999999999999999999">(99) 99999 - 9999</a></p>
                <p>Horário: Segunda-Sexta: 9:00 - 17:30 </p>
                <p>Email: <a href="mailto:contato@lptech.....br.br.br">contato@lptech.com</a></p>
            </div>
        </div>

        <div class="additional-infos-footer">
            <div class="social-icons-footer">
                <img src="assets/imagens/footer/facebook.svg" alt="Facebook LP Tech" />
                <img src="assets/imagens/footer/instagram.svg" alt="Instagram LP Tech" />
            </div>
            <div class="credit-cards-accepted">
                <img src="assets/imagens/footer/paypal.svg" alt="Paypal LP Tech" />
                <img src="assets/imagens/footer/visa.svg" alt="Visa LP Tech" />
                <img src="assets/imagens/footer/maestro.svg" alt="Maestro LP Tech" />
                <img src="assets/imagens/footer/discover.svg" alt="Discover LP Tech" />
                <img src="assets/imagens/footer/american-express.svg" alt="American Express LP Tech" />
            </div>

            <div class="copy">
                <span>Copyright &copy; 2023 LP Tech</span>
            </div>
        </div>
    </div>
    </footer>