<header>
    <div class="container">
        <div class="info-header">
            <div class="opening-hours">
                <p><span>Seg-Sex:</span> 9:00 - 17:30</p>
            </div>
            <div class="our-address">
                <p>Visite nossa loja no endereço Rua da LP Tech, 123 ou <span>Entre em contato conosco</span></p>
            </div>
            <div class="store-contacts">
                <div class="cellphones">
                    <p>Telefone: (XX) 99999 - 9999</p>
                </div>
                <div class="social-icons">
                    <img src="assets/imagens/facebook.svg" alt="Facebook LP Tech" />
                    <img src="assets/imagens/instagram.svg" alt="Instagram LP Tech" />
                </div>
            </div>
        </div>
        <div class="navigation-header">
            <div class="logo">
                <a href="index.php"><img src="assets/imagens/logo.svg" alt="Logo LP Tech" /></a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#cpus">CPUs</a></li>
                    <li><a href="#notebooks">Notebooks</a></li>
                    <li><a href="#monitors">Monitores</a></li>
                    <li><a href="#contact">Entre em contato</a></li>
                </ul>
            </nav>
            <div class="action-icons">
                <img src="assets/imagens/search.svg" alt="Busca LP Tech" class="search" />
                <div class="cart">
                    <a href="templates/paginas/carrinho.html">
                        <img src="assets/imagens/cart.svg" alt="Carrinho de produtos LP Tech" />
                        <p class="items-cart">0</p>
                    </a>
                </div>
                <div class="mobile-menu-icon">&#9776;</div>
            </div>
        </div>
    </div>
</header>